.line{
    margin: 20px;
    border: 1px dotted black;
}
.margin_3{
    margin-top: 20px;
    margin-left: 20px;
}
.selectbox{
    width: 300px;
}
.sub{
    background-color: palegoldenrod;
    font-weight: 1000;
    text-align: center;
}
.totalsub{
    background-color: rgb(236, 243, 199);
    font-weight: 1000;
    text-align: center;
}
.cell{
    table-layout: fixed;
    width: 100px;
}
.thead{
    table-layout: fixed;
    width: 100px;
}